/*------------------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------------------*/
/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-width: 480px){
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
    /* layout */
    #container{margin:0 auto;width:auto;}
    .two-columns{
      clear:both;margin-bottom:30px;
      .column-one,.column-two{float:none;margin:0;width:auto;}
      .column-one{margin-right:0;}
    }
    .three-columns{
      clear:both;margin-bottom:30px;
      .column-one,.column-two,.column-three{float:none;margin:0;width:auto;}
      .column-three{margin-right:0;}
    }
    .four-columns{
      clear:both;margin-bottom:30px;
      .column-one,.column-two,.column-three,.column-four, li{float:none;margin-right:0;width:auto;}
    }
    /* basic */
    #masthead{margin:0 auto;padding:0;width:auto;}
    #logo{margin:10px auto 0;}
    nav{
        position:relative;width:auto;
        ul{margin:0 0 40px 0;width:auto;}
        li{display:inline-block;float:none;}
    }
    footer{
    	.inner{margin:0 20px;width:auto;}
    	p{margin-bottom:10px;}
    }
    /* homepage */
    #photos{
        height:auto;display:none;
        #row-one,#row-two{display:none;}
        #register-cta{float:none;height:270px;position:relative;left:-15px;top:0;right:0;width:460px;z-index:2;}
    }
    #help{
        display:none;width:auto;
        h2{font-size: 200%;}
        p{font-size:90%}
    }
    #quotes{display:none;}
    #twitter{
      margin-top:0;
    	a{color:#bb5549}
    	h2{display:none;}
    	h2 span{display:none;}
    	.inner{margin:10px 20px;width:auto;}
    	.column-two, .column-three{display:none;}
    	.tweets{
    		height:380px;font-size:90%;
    		.text{width:75%;}
    	}
    	ul{margin:20px 0 0 0;}
    }
    #sponsors{
    	margin: 0 20px;width:auto;
      h3{clear:both;font-size:150%;}
      ul{list-style:none;margin:0 0 12px;}
    	li{display:inline-block;margin-right:5px;width:130px;}
    	li:nth-child(even){margin-right:0px;}
    	img{height:51px;width:105px;}
    }
    /* content pages */
    article{
    	margin: 0 20px;width:auto;
    	h1{font-size:220%;}
    	h2{font-size:150%;margin-bottom:10px;}
    	p{font-size:95%;}
    	section{margin:0 0 30px;}
    }
    /* venue */
    #venue{
    	.vcard{float:none;}
    	.gps{float:none;margin-bottom:10px;}
    }
    #venue-map{
    	.inner{height:260px}
    }
    /* schedule */
    #schedule{
    	b{font-size:130%;width:70%;}
    	.time{width:70%;}
    	.details{display:none;}
    	.icon{margin:0px 20px 10px 10px;}
    }
}
@media screen and (max-width: 320px){
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
    /* layout */
    #container{margin:0 auto;width:auto;}
    .two-columns{
      clear:both;margin-bottom:30px;
      .column-one,.column-two{float:none;margin:0;width:auto;}
      .column-one{margin-right:0;}
    }
    .three-columns{
      clear:both;margin-bottom:30px;
      .column-one,.column-two,.column-three{float:none;margin:0;width:auto;}
      .column-three{margin-right:0;}
    }
    .four-columns{
      clear:both;margin-bottom:30px;
      .column-one,.column-two,.column-three,.column-four, li{float:none;margin-right:0;width:auto;}
    }
    /* basic */
    #masthead{margin:0 auto;padding:0;width:auto;}
    #logo{margin:10px auto 0;}
    nav{
        position:relative;width:auto;
        ul{margin:0 0 40px 0;width:auto;}
        li{display:inline-block;float:none;}
    }
    footer{
    	.inner{margin:0 20px;width:auto;}
    	p{margin-bottom:10px;}
    }
    /* homepage */
    #photos{
        height:auto;display:none;
        #row-one,#row-two{display:none;}
        #register-cta{float:none;height:270px;position:relative;left:-15px;top:0;right:0;width:460px;z-index:2;}
    }
    #help{
        display:none;width:auto;
        h2{font-size: 200%;}
        p{font-size:90%}
    }
    #quotes{display:none;}
    #twitter{
      margin-top:0;
    	a{color:#bb5549}
    	h2{display:none;}
    	h2 span{display:none;}
    	.inner{margin:10px 20px;width:auto;}
    	.column-two, .column-three{display:none;}
    	.tweets{
    		height:380px;font-size:90%;
    		.text{width:75%;}
    	}
    	ul{margin:20px 0 0 0;}
    }
    #sponsors{
    	margin: 0 20px;width:auto;
      h3{clear:both;font-size:150%;}
      ul{list-style:none;margin:0 0 12px;}
    	li{display:inline-block;margin-right:5px;width:130px;}
    	li:nth-child(even){margin-right:0px;}
    	img{height:51px;width:105px;}
    }
    /* content pages */
    article{
    	margin: 0 20px;width:auto;
    	h1{font-size:220%;}
    	h2{font-size:150%;margin-bottom:10px;}
    	p{font-size:95%;}
    	section{margin:0 0 30px;}
    }
    /* venue */
    #venue{
    	.vcard{float:none;}
    	.gps{float:none;margin-bottom:10px;}
    }
    #venue-map{
    	.inner{height:260px}
    }
    /* schedule */
    #schedule{
    	b{font-size:130%;width:70%;}
    	.time{width:70%;}
    	.details{display:none;}
    	.icon{margin:0px 20px 10px 10px;}
    }
}