---
title:  Welcome to BarCamp Charlotte
bodyID: homepage
bodyClasses: ~
---

%section.slider
    -# simple image slider with tooltip like speach bubbles that pop up after each slide transitions
    .slide-wrapper
        .slide
            %img{:src => "/assets/images/photos/hero-banner-1.jpg", :alt => "community"}
        -# .slide
        -#     %img{:src => "http://placehold.it/1024x576", :alt => "passion"}
        -# .slide
        -#     %img{:src => "http://placehold.it/1024x576", :alt => "technology"}

%section#quick-details.xxx
    .col1
        %h2 Event Details
        .event
            %a.url.summary{:href => 'http://www.barcampclt.org', :title => ''} BarCamp Charlotte 6
            .description Gather, share, and learn at Charlotte's only free unconference.
            .date
                %b Date
                %span.dstart
                    April 21<sup>st</sup>,
                    %span.value-title{:title => "2012-04-22T1000Z00"} 9:00am -
                %span.dend
                    %span.value-title{:title => "2012-04-22T1600Z00"} 4:00pm
            .where
                %b Where
                %span.location.vcard
                    %span.fn.org Area 15
                    %span.adr
                        %span.street-address 516 East 15th Street
                        %span.locality Charlotte
                        %span.region NC
                        %span.zip 28206
                    %span.geo
                        %span.latitude
                            %span.value-title{:title => "35.23259758788463"}
                        %span.latitude
                            %span.value-title{:title => "-80.8254611492157"}
            .category Technology

    .col2
        %h2 Be A Sponsor
        %p BarCamp Charlotte brings out the best and brightest tech, startup, media, and marketing industries. Each year we have some amazing companies that donate to help make this free community event a success.
        %a.button{:href => '/sponsor/', :title => ""} Sponsor

    .col3
        %h2 Donate Some Time
        %p The success of BarCamp Charlotte relies on the time and talents of our crew of volunteers. Our volunteers help us set-up, direct traffic, direct folks from session to session and overall make BarCamp great.
        %a.button{:href => '/volunteer/', :title => ""} Volunteer
