--- 
title:  Welcome to BarCamp Charlotte
bodyID: homepage
bodyClasses: herobanner
---


%section#intro
    %h1 
        BarCamp is Charlotte’s one and only un-conference, an event where professionals from all industries come and pitch to talk about a topic they love, and people vote on what they would like to learn about.
        %a{:href => "http://barcampcharlotte6.eventbrite.com/", :rel => "external"} Register <span>for free</span>

%section.slider
    -# simple image slider with tooltip like speach bubbles that pop up after each slide transitions
    .slide-wrapper
        .slide
            %img{:src => "#", :alt => "community"}
        .slide
            %img{:src => "#", :alt => "passion"}
        .slide
            %img{:src => "#", :alt => "technology"}

%section#quick-details.xxx
    .col1
        %h2 Event Details
        .event
            %a.url.summary{:href => 'http://www.barcampclt.org', :title => ''} BarCamp Charlotte 6
            .description Gather, share, and learn at Charlotte's only free unconference.
            .date
                %b Date
                %span.dstart
                    October 22<sup>nd</sup>, 10:00am - 
                    %span.value-title{:title => "2011-10-22T1000Z00"}
                %span.dend
                    4:00pm
                    %span.value-title{:title => "2011-10-22T1600Z00"}
            .where
                %b Where
                %span.location.vcard
                    %span.fn.org Area 15
                    %span.adr
                        %span.street-address 516 East 15th Street
                        %span.locality Charlotte
                        %span.region NC
                        %span.zip 28206
                    %span.geo
                        %span.latitude
                            %span.value-title{:title => "35.23259758788463"}
                        %span.latitude
                            %span.value-title{:title => "-80.8254611492157"}
            .category Technology

    .col2
        %h2 Be A Sponsor
        %p BarCamp Charlotte brings out the best and brightest tech, startup, media, and marketing industries. Each year we have some amazing companies that donate to help make this free community event a success.
        %a.button{:href => '/sponsor/', :title => ""} Be a Sponsor

    .col3
        %h2 Donate Some Time
        %p The success of BarCamp Charlotte relies on the time and talents of our crew of volunteers. Our volunteers help us set-up, direct traffic, direct folks from session to session and overall make BarCamp great.
        %a.button{:href => '/volunteer/', :title => ""} Be a Volunteer

%section#twitter

%section.photos
    %h2 BarCamp Charlotte Pics from Years Past
    %ul.xxxx
        %li.col1
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col2
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col3
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col4
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col1
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col2
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col3
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col4
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col1
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col2
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col3
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col4
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col1
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col2
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col3
            %a{:href => ""}
                %img{:src => "", :alt => ""}
        %li.col4
            %a{:href => ""}
                %img{:src => "", :alt => ""}
