---
nav: sponsor
title: Sponsor - BarCamp Charlotte 5 - April 16th, 2011 at Area 15 | Gather, Share, Learn &amp; Discuss
---
%article#sponsorship.xi.clearfix
  .column-one
    %h1
      Sponsorship
      %span.amp &amp;
      Sponsors
    %section#intro
      %h2 What is BarCamp, you ask?
      %p BarCamp is Charlotte’s one and only un-conference, an event where professionals from all industries come and pitch to talk about a topic they love, and people vote on what they would like to learn about. Its mission: to provide a space for professionals to get together and exchange ideas.
      
      %h2 Who attends this madness?
      %p BarCamp brings out the best and brightest in the technology, startup, tech, media, investing, marketing and computer industries. From freelancers to entrepreneurs, to executives and college students, BarCamp reaches them all!
      
      %h2 What’s in it for me?
      %p BarCamp is all volunteer and free for attendees, and that’s why sponsors make BarCamp Charlotte special. And BarCamp Charlotte needs your help again. To bring even more value to the sponsorship levels, we added a few more benefits...behold:
      
    / END intro
    %section#benefits.xxxxx.clearfix
      %h2 Title Sponsor - $750
      %p
        %ul
          %li 5 minutes to address the assembled crowd before morning &amp; afternoon pitches
          %li Opportunity to have a booth at the event
          %li Logo on all signage / flyers / promo material
          %li Logo and link on every page of barcampclt.org
          %li Logo on 200+ t-shirts that are given to each attendee
          %li Recognition in Area 15 newsletter
          %li Promoted via the BarCampClt Facebook & Twitter to over 3500 followers.
        
      %h2 Platinum Sponsorship - $500
      %p
        %ul
          %li Opportunity to have a booth at the event
          %li Logo on all signage / flyers / promo material
          %li Logo and link on every page of barcampclt.org
          %li Logo on 200+ t-shirts that are given to each attendee
          %li Opportunity to contribute giveaway items to the attendee swag bag
          %li MC recognition during the sponsor announcements
          %li Promoted via the BarCampClt Facebook & Twitter to over 3500 followers.
        
      %h2 Gold Sponsorship - $250
      %p
        %ul
          %li Logo on all signage / flyers / promo material
          %li Logo and link on every page of barcampclt.org
          %li Opportunity to contribute giveaway items to the attendee swag bag
          %li MC recognition during the sponsor announcements
          %li Logo on a flyer given to each attendee
          %li Opportunity to have a promotional brochure in the sponsor area for attendees to take home
        
      %h2 Silver Sponsorship - $100
      %p
        %ul
          %li Logo and link on every page of barcampclt.org
          %li Opportunity to contribute giveaway items to the attendee swag bag
          %li MC recognition during the sponsor announcements
          %li Logo on a flyer given to each attendee
          %li Opportunity to have a promotional brochure in the sponsor area for attendees to take home
        
      %h2 Bronze Sponsorship - $50
      %p
        %ul
          %li Logo and link on every page of barcampclt.org
          %li Opportunity to have a promotional brochure in the sponsor area for attendees to take home
        
      %h2 Schwag
      %p Want those 200 people to have information about your business?  Ask about BarCamp schwag-bag opportunities.
      %p
        %em *Or equivalent goods, like:
      
      %h2 Food
      %p We aim to to feed around 200 people, so let us know if you're interested in assisting BarCamp with food.
      / END #benefits
      
  %aside.column-two
    %section#sponsor-contact.clearfix
      %h2 Sponsor Contact
      %p
        Contact 
        %a{:href => "mailto:carlos@area15.com"} Carlos Espin
        , or pay for sponsorship right here:
    / END #sponsor-contact
  

    %form#BB_BuyButtonForm{:action => "https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/925945203941923", :method => "post", :name => "BB_BuyButtonForm", :target => "_top"}
      %select{:name => "item_selection_1"}
        %option{:value => "1"} $750.00 - Title Sponsorship
        %option{:value => "2"} $500.00 - Platinum Sponsorship
        %option{:value => "3"} $250.00 - Gold Sponsorship
        %option{:value => "4"} $100.00 - Silver Sponsorship
        %option{:value => "5"} $50.00 - Bronze Sponsorship
        %option{:value => "6"} $500.00 - Room Sponsorship
      %input{:name => "item_option_name_1", :type => "hidden", :value => "Title Sponsorship"}/
      %input{:name => "item_option_price_1", :type => "hidden", :value => "750.0"}/
      %input{:name => "item_option_description_1", :type => "hidden", :value => ""}/
      %input{:name => "item_option_quantity_1", :type => "hidden", :value => "1"}/
      %input{:name => "item_option_currency_1", :type => "hidden", :value => "USD"}/
    
      %input{:name => "item_option_name_2", :type => "hidden", :value => "Platinum Sponsorship"}/
      %input{:name => "item_option_price_2", :type => "hidden", :value => "500.0"}/
      %input{:name => "item_option_description_2", :type => "hidden", :value => ""}/
      %input{:name => "item_option_quantity_2", :type => "hidden", :value => "1"}/
      %input{:name => "item_option_currency_2", :type => "hidden", :value => "USD"}/
    
      %input{:name => "item_option_name_3", :type => "hidden", :value => "Gold Sponsorship"}/
      %input{:name => "item_option_price_3", :type => "hidden", :value => "250.0"}/
      %input{:name => "item_option_description_3", :type => "hidden", :value => ""}/
      %input{:name => "item_option_quantity_3", :type => "hidden", :value => "1"}/
      %input{:name => "item_option_currency_3", :type => "hidden", :value => "USD"}/
    
      %input{:name => "item_option_name_4", :type => "hidden", :value => "Silver Sponsorship"}/
      %input{:name => "item_option_price_4", :type => "hidden", :value => "100.0"}/
      %input{:name => "item_option_description_4", :type => "hidden", :value => ""}/
      %input{:name => "item_option_quantity_4", :type => "hidden", :value => "1"}/
      %input{:name => "item_option_currency_4", :type => "hidden", :value => "USD"}/
    
      %input{:name => "item_option_name_5", :type => "hidden", :value => "Bronze Sponsorship"}/
      %input{:name => "item_option_price_5", :type => "hidden", :value => "50.0"}/
      %input{:name => "item_option_description_5", :type => "hidden", :value => ""}/
      %input{:name => "item_option_quantity_5", :type => "hidden", :value => "1"}/
      %input{:name => "item_option_currency_5", :type => "hidden", :value => "USD"}/
    
      %input{:name => "item_option_name_6", :type => "hidden", :value => "Room Sponsorship"}/
      %input{:name => "item_option_price_6", :type => "hidden", :value => "500.0"}/
      %input{:name => "item_option_description_6", :type => "hidden", :value => ""}/
      %input{:name => "item_option_quantity_6", :type => "hidden", :value => "1"}/
      %input{:name => "item_option_currency_6", :type => "hidden", :value => "USD"}/

      %button{:alt => "", :src => "https://checkout.google.com/buttons/buy.gif?merchant_id=925945203941923&amp;w=117&amp;h=48&amp;style=white&amp;variant=text&amp;loc=en_US", :type => "submit"}
