---
title:  Be A Sponsor
bodyID: sponsor
bodyClasses: herobanner
---

.banner
    %img{:src => "/assets/images/photos/hero-banner-3.jpg", :alt => ""}

%h1 Be a BarCamp Charlotte Sponsor

%p.intro BarCamp is Charlotte’s one and only tech un-conference, an event where professionals from all industries come and pitch to talk about a topic they love, and people vote on what they would like to learn about. Its mission: to provide a space for professionals to get together and exchange ideas.

%section#levels
    %h2 Sponsorship Levels

    %p There are a number of expenses involved in running a free all-day conference that's a benefit to the community. We're looking for sponsorships of all kind. Become a sponsor and help make BarCamp Charlotte happen.

    %h3 Pay Online
    .xxxxx
        %form.col1.title.unavailable{:action => "https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/925945203941923", :method => "post", "accept-charset" => "utf-8",:name => "BB_BuyButtonForm"}
            %fieldset
                %legend
                    %h4 Title
                %label{:for => "item_price_1"} <sup>$</sup>1,500
                %input{:name => "item_name_1", :type => "hidden", :value => "Title Sponsorship"}
                %input{:name => "item_price_1", :type => "hidden", :value => "1500.0"}
                %input{:name => "item_description_1", :type => "hidden", :value => ""}
                %input{:name => "item_quantity_1", :type => "hidden", :value => "1"}
                %input{:name => "item_currency_1", :type => "hidden", :value => "USD"}
                %button{:type => "submit"} Be a Sponsor
        %form.col2.platinum{:action => "https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/925945203941923", :method => "post", "accept-charset" => "utf-8"}
            %fieldset
                %legend
                    %h4 Platinum
                %label{:for => "item_price_1"} <sup>$</sup>750
                %input{:name => "item_name_1", :type => "hidden", :value => "Platinum Sponsorship"}
                %input{:name => "item_price_1", :type => "hidden", :value => "750.0"}
                %input{:name => "item_description_1", :type => "hidden", :value => ""}
                %input{:name => "item_quantity_1", :type => "hidden", :value => "1"}
                %input{:name => "item_currency_1", :type => "hidden", :value => "USD"}
                %button{:type => "submit"} Be a Sponsor
        %form.col3.gold{:action => "https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/925945203941923", :method => "post", "accept-charset" => "utf-8"}
            %fieldset
                %legend
                    %h4 Gold
                %label{:for => "item_price_1"} <sup>$</sup>400
                %input{:name => "item_name_1", :type => "hidden", :value => "Gold Sponsorship"}
                %input{:name => "item_price_1", :type => "hidden", :value => "400.0"}
                %input{:name => "item_description_1", :type => "hidden", :value => ""}
                %input{:name => "item_quantity_1", :type => "hidden", :value => "1"}
                %input{:name => "item_currency_1", :type => "hidden", :value => "USD"}
                %button{:type => "submit"} Be a Sponsor
        %form.col4.silver{:action => "https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/925945203941923", :method => "post", "accept-charset" => "utf-8"}
            %fieldset
                %legend
                    %h4 Silver
                %label{:for => "item_price_1"} <sup>$</sup>150
                %input{:name => "item_name_1", :type => "hidden", :value => "Silver Sponsorship"}
                %input{:name => "item_price_1", :type => "hidden", :value => "150.0"}
                %input{:name => "item_description_1", :type => "hidden", :value => ""}
                %input{:name => "item_quantity_1", :type => "hidden", :value => "1"}
                %input{:name => "item_currency_1", :type => "hidden", :value => "USD"}
                %button{:type => "submit"} Be a Sponsor
        %form.col5.bronze{:action => "https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/925945203941923", :method => "post", "accept-charset" => "utf-8"}
            %fieldset
                %legend
                    %h4 Bronze
                %label{:for => "item_price_1"} <sup>$</sup>50
                %input{:name => "item_name_1", :type => "hidden", :value => "Bronze Sponsorship"}
                %input{:name => "item_price_1", :type => "hidden", :value => "50.0"}
                %input{:name => "item_description_1", :type => "hidden", :value => ""}
                %input{:name => "item_quantity_1", :type => "hidden", :value => "1"}
                %input{:name => "item_currency_1", :type => "hidden", :value => "USD"}
                %button{:type => "submit"} Be a Sponsor

        %ul#sponsor-details
            %li 5 minutes to address the attendees at the start of BarCamp
            %li.platinum Exclusive sponsorship & signage for one (1) event room
            %li.platinum Premium logo placement on promotional flyers
            %li.platinum Premium logo placement on 250 t-shirts
            %li.platinum Table/Booth available during the event
            %li.platinum.gold Opportunity to contribute branded giveaway materials with the T-shirt
            %li.platinum.gold Included in email campaign sent before and after BarCamp
            %li.platinum.gold.silver Promoted via Facebook & Twitter profiles to over 4,000 followers
            %li.platinum.gold.silver MC Recognition during the opening announcements
            %li.platinum.gold.silver.bronze Logo and link on website

    %h3 Pay By Check

    %p All checks should be made payable to "BarCamp".

    %p.location.vcard
        %span.fn.org Area 15
        %span.adr
            %span.street-address 516 East 15th Street
            %span.locality Charlotte
            %span.region NC
            %span.zip 28206
        %span.geo
            %span.latitude
                %span.value-title{:title => "35.23259758788463"}
            %span.latitude
                %span.value-title{:title => "-80.8254611492157"}

    %h3 Deadlines

    %p All sponsorships that want to appear on the t-shirts and printed material must be finalized by March, 28th, 2012.

    %p Sponsors that don’t make the date will still appear on the website and be announced via Twitter & Facebook.

