---
title:  Area 15, The Venue
bodyID: venue
bodyClasses: herobanner
---
%section#map
    #venue-map.banner
        .inner
            %img{:src => "/assets/images/photos/hero-banner-4.jpg", :alt => ""}
        .layers

.xxx
    .col1
        %h2 About Area 15
        %p Area Fifteen is the 23,000 sq ft idea incubator located in the heart of Optimist Park at 15th St and Davidson. Serving as the host venue since BarCamp Charlotte's inception, Area Fifteen is the home to small businesses, non-profits (including the Free Store and Trips for Kids Bike Co-op) and other creative endeavors.
        %p
            See the current tenants at
            %a{:href => "http://www.areafifteen.com", :rel => "external"} http://www.areafifteen.com
    .col2
        %h2 Address
        %a.location.vcard
            %span.fn.org Area 15
            %span.adr
                %span.street-address 516 East 15th Street
                %span.locality Charlotte
                %span.region NC
                %span.zip 28206
            %span.geo
                %span.latitude
                    %span.value-title{:title => "35.23259758788463"}
                %span.latitude
                    %span.value-title{:title => "-80.8254611492157"}
    .col3
        %h2 Parking
        %p We encourage you to carpool, ride a bike or take public transit.
        %p If you're driving in please avoid parking on the sides of the streets. It can get a little tight
        %p If you're taking the bus use routes 3 &amp; 23.

