---
title:  Volunteer
bodyID: volunteer
bodyClasses: herobanner
---

.banner
    %img{:src => "/assets/images/photos/hero-banner-5.jpg", :alt => ""}

%h1 Be a BarCamp Charlotte Volunteer

%p.intro BarCamp Charlotte is a community driven event organized by a small army of local volunteers. We depend on the energy of our volunteers and without them BarCamp just wouldn't happen.

%section.needs
    %h2 Prepping Area 15 for BarCamp Charlotte

    %p The day before the BarCamp, Friday, Oct. 21<sup>st</sup>, we need a handful of volunteers to help us prep Area 15 and really just make it awesome. The volunteers will help set up chairs and tables in the main area and individual rooms, hang signs, & pack the goodie bags.

    %h2 Helping out the day of BarCamp Charlotte

    %p There's a lot of hubub the day of BarCamp.  We'll need a healthy helping of volunteers to make the event run smoothly.
    %ul
        %li <b>Room coordinators</b> will help attendees find the varied sessions, bathrooms, and most importantly the food.
        %li <b>Food support</b> will make sure the food arrives, is unloaded and setup for the hungry mob of BarCampers
        %li <b>Tech support</b> help out with problems during the presentations just incase speakers have a problem getting a project to work
        %li <b>Parking coordinators</b> direct traffic to the designated parking areas and keep the congestion down
        %li <b>Greeters</b> hang out at the entrances, welcome the attendees, hand out their goodie bags, and point them to the main event hall

    %p If you're interested in being a volunteer for BarCamp <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dEVMb2l1cjMwc3o0T2F3djZraEFhd2c6MQ#gid=0" rel="external">fill out our handy form</a> and Joni Kennedy will fill you in on the details.

    %h2 Provide equipment

    %p Your time isn't the only thing you can volunteer. We have roughly 6 rooms that need a bit of equipment for the day. If you can provide anything on the list below <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dE9ReGdmeUQ2dFlrQ1Fsa3JUeERuekE6MQ#gid=0" rel="external">fill out the form and let us know</a>.

    %ul
        %li <b>projector</b>, we need at least 5
        %li <b>projector screens</b>, we need at least 4
        %li <b>power cables</b>
        %li <b>extention cords</b>
        %li <b>speaker & mic system</b>

    %p If you provide any equipment please write your name on some masking tape and stick it somewhere it won't fall off so we can keep track of what belongs to whom

%section#planners.xxx
    %h2 Our Friendly Neighborhood BarCamp Planners
    .col1
        %img{:src => "", :alt => ""}
        %h3 Carlos Espin <a href="http://twitter.com/areafifteen" title="" rel="external">@areafifteen</a>
        %p If you've heard of <a href="http://areafifteen.com/" title="" rel="external"> Area Fifteen</a> then Carlos is the man behind it. Carlos has built a strong community for creative people that live and work in Charlotte, growing businesses and helping the underserved neighborhood aroung Area 15.
    .col2
        %img{:src => "", :alt => ""}
        %h3 Joni Kennedy <a href="http://twitter.com/jlkoctober" title="" rel="external">@jlkoctober</a>
        %p Joni has been our volunteer coordinator for the last few BarCamps and things wouldn't happen without her. She organizes and directs the small army of volunteer BarCampers and just makes sure things happen.
    .col3
        %img{:src => "", :alt => ""}
        %h3 Desiree Kane <a href="http://twitter.com/desireekane" title="" rel="external">@desireekane</a>
        %p Space geek, and pretty much the voice of Charlotte. Desiree has been with BarCamp since the beginning keeping the Twitters and Facebooks active. She's also heavily involved in other happening in Charlotte, <a href="http://twitter.com/tedxcharlotte/" rel="externa">@tedxcharlotte</a>, <a href="http://twitter.com/cltblog/" rel="external">@cltblog</a>, & <a href="http://twitter.com/ppldnc/" rel="external">@ppldnc</a>.
    .col1
        %img{:src => "", :alt => ""}
        %h3 Adam Brooks <a href="http://twitter.com/adambrooks" title="" rel="external">@adambrooks</a>
        %p Technologist, educator, developer & a whole lot more. Adam is the communications director for <a href="http://twitter.com/cpcc/" rel="external">@cpcc</a> and runs this fancy, successful shindig called <a href="http://twitter.com/thegeekfest/" rel="external">@thegeekfest</a>.

    .col2
        %img{:src => "", :alt => ""}
        %h3 Bermon Painter <a href="http://twitter.com/bermonpainter" title="" rel="external">@bermonpainter</a>
        %p Designer, developer, spanish speaker & cupcake eater. Bermon also organizes a handful of community events about <a href="http://www.charlotteux.org">user experience</a>, <a href="http://www.charlottefed.com">front-end development</a>, & the <a href="http://www.charlottegrok.com">Charlotte Grok</a>.
