--- 
nav: volunteer
title: Help out As a Volunteer
---
%article#volunteers.clearfix
  %h1 We Need You
  %section#intro
    %h2 Volunteers have the opportunity to:
    %p
      BarCamp Charlotte runs on the energy of its volunteers and sponsors. Without both, BarCamp Charlotte as you know it wouldn't happen (well..it might, but not nearly as fun).
      = succeed "." do
        %a{:href => "https://spreadsheets.google.com/viewform?formkey=dEVMb2l1cjMwc3o0T2F3djZraEFhd2c6MQ", :rel => "external nofollow"} Help us out and volunteer
    %ul
      %li Learn how to plan, manage, and coordinate an event
      %li Network with the brainstormers and innovators of Charlotte
      %li Gain school credit for working for an event
      %li Have a fun time making a BarCamp happen!
  / END intro
  %section#day-before
    %h2 Day Before
    %h3 Venue Prep
    %p We need a group of people to help us prepare Area 15 for BarCamp the day before the event. Things like setting up chairs and tables, hanging signs, etc.
    %h3 Tech Prep
    %p We need another group of people to help us setup the BarCamp network, including wireless modems, routers, power, video cameras, microphones, projectors, monitors, etc.
  / END day-of
  %section#day-of
    %h2 Day Of
    %h3 Room Coordinators
    %p Help needed during session switches to make sure everyone knows where they're going, and during sessions to make sure each room and presenter has the materials/tools they need. It would be ideal to get enough people helping here so everyone can switch out during the day so each person only has to commit to 1 or 2 sessions.
    %h3 Food Support
    %p We need a few people to help make sure the food arrives and is setup for hungry BarCampers
    %h3 Tech Support
    %p We need a handful of people the day of that can be on call if tech complications arise -- i.e., projectors not working, wifi networks going down, etc. Leave your Twitter name or cell phone numbers so we can summon during the event if needed.
    %a{:href => "https://spreadsheets.google.com/viewform?formkey=dEVMb2l1cjMwc3o0T2F3djZraEFhd2c6MQ", :rel => "external nofollow"} Help us out and volunteer
    / END day-of
  %section#signup.hidden
    %iframe{:src => "https://spreadsheets.google.com/embeddedform?formkey=dEVMb2l1cjMwc3o0T2F3djZraEFhd2c6MQ", :width => "940", :height => "800", :allowtransparency => "true", :style => "background-color: transparent;"}

