/* ----------------------------------------------------
=root
---------------------------------------------------- */
html {
    background: $color-bg;
    overflow-y: scroll;
}

body {
    background-color: transparent;
    color: $color-text;
    font: 100%/1.4 "Open Sans", Arial, Sans;
    margin: 0 auto;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width: 100%;
}