%footer
    .inner
        %section#main-sponsors.xxx
            %a.col1{:href => "http://macquarium.com/", :title => "Macquarium User Experience Consultancy", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/macquarium.png", :alt => "Macquarium Intelligent Communications"}

            %a.col2{:href => "http://skookum.com/", :title => "Skookum - Custom Business Software", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/skookum.png", :alt => "Skookum Digital Works"}

            %a.col3{:href => "http://ally.com", :title => "CDs, Money Market, Savings &amp; Checking | Ally Financial", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/ally.png", :alt => "Ally Financial"}

            %a.col1{:href => "http://www.ettaingroup.com/", :title => "IT Jobs, IT Staffing, Technology Solutions and Management Consulting - Ettain Group", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/ettain-group.png", :alt => "Ettain Group"}

            %a.col2{:href => "http://www.yelp.com/charlotte-nc", :title => "Charlotte Restaurants, Dentists, Bars, Beauty Salons, Doctors - Yelp", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/yelp.png", :alt => "Yelp"}

            %a.col3{:href => "http://areafifteen.com", :title => "Area 15 - Charlotte business incubator", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/area15.png", :alt => "Area Fifteen"}
        %section#secondary-sponsors.xxxx
            %a.col1{:href => "http://www.ephricon.com/", :title => "Ephircon - Charlotte SEO Agency & Internet Marketing", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/ephricon-web-marketing.png", :alt => "Ephricon Web Marketing"}

            %a.col2{:href => "http://www.cpcc.edu/", :title => "Central Piedmont Community College", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/cpcc.png", :alt => "Central Piedmont Community College"}

            %a.col3{:href => "http://www.cpcc.edu/thegeekfest", :title => "The Geekfest", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/geekfest.png", :alt => "The Geekfest"}

            %a.col4{:href => "http://www.redf.com/packard/", :title => "Packard Place", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/packard-place.png", :alt => "Packard Place"}

            %a.col1{:href => "http://www.addshoppers.com/", :title => "Add Shoppers - Social Commerce Platform for Retailers", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/add-shoppers.png", :alt => "Add Shoppers"}

            %a.col2{:href => "http://charlotte.startupweekend.org/", :title => "Startup Weekend Charlotte", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/charlotte-startup-weekend.png", :alt => "Startup Weekend Charlotte"}

            %a.col3{:href => "http://firsthandcreative.com/", :title => "Add Firsthand Creative", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/first-hand-creative.png", :alt => "Firsthand Creative"}
            
            %a.col4{:href => "http://htmlrockstars.com/", :title => "HTML Rockstars", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/html-rockstars.png", :alt => "HTML Rockstars"}



            %a.col1{:href => "http://www.hackerspacecharlotte.org/", :title => "Hackerspace Charlotte", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/hackerspace-charlotte.png", :alt => "Hackerspace Charlotte"}

            %a.col2{:href => "http://www.charlottejs.org/", :title => "Charlotte Javascript Developers", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/charlotte-javascript.png", :alt => "Charlotte Javascript Developers"}

            %a.col3{:href => "http://www.meetup.com/charlotte-rb/", :title => "Charlotte Ruby Developers", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/charlotte-rubyists.png", :alt => "Charlotte Rubyists"}

            %a.col4{:href => "http://meetup.qcphp.org/", :title => "Queen City PHP", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/queen-city-php.png", :alt => "Queen City PHP"}


            %a.col1{:href => "http://www.charlotteux.org", :title => "Charlotte User Experience", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/charlotte-user-experience.png", :alt => "Charlotte User Experience"}

            %a.col2{:href => "http://www.charlottefed.com/", :title => "Charlotte Front-End Developers", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/charlotte-front-end-developers-meetup.png", :alt => "Charlotte Front-End Developers"}

            %a.col3{:href => "http://www.meetup.com/Charlotte-Grok/", :title => "Charlotte Grok: Startup Edition", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/charlotte-grok.png", :alt => "Charlotte Grok: Startup Edition"}

            %a.col4{:href => "http://www.meetup.com/clthackers/", :title => "Charlotte Hackers & Founders", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/hackers-and-founders.png", :alt => "Charlotte Hackers & Founders"}


            %a.col1{:href => "http://www.meetup.com/python-django-charlotte/", :title => "Charlotte Python & Django", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/python-django.png", :alt => "Charlotte Python & Django"}

            %a.col2{:href => "http://www.meetup.com/charDUG/", :title => "Charlotte Drupal Users Group", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/charlotte-drupal.png", :alt => "Charlotte Drupal Users Group"}

            %a.col3{:href => "http://itsbspoke.us2.list-manage.com/subscribe?u=8b4656bd4a093a3bcabfda08a&id=564f168838", :title => "It's Bespoke - Charlotte Startup Community", :rel => "external"}
                %img{:src => "/assets/06/images/sponsors/bspoke.png", :alt => "It's Bespoke - Charlotte Startup Community"}

            
        
        %small
            %p 
            Website powered by <a href="http://nanoc.stoneship.org/" rel="external">nanoc</a>. Designed and developed by <a href="http://bermonpainter.com" rel="external">Bermon Painter</a> and <a href="http://startcharlotte.com/" rel="external">Start Charlotte</a>.