---
nav: schedule
title: Schedule - BarCamp Charlotte 5 - April 16th, 2011 at Area 15 | Gather, Share, Learn &amp; Discuss
---

%article#schedule.clearfix
  %h1 Schedule
  %section#preparty
    %h2 Friday April 15th, 2011 - Pre-party
    %p
      Get ready for a fun night to kick off BarCamp. More information on the pre-party will be announced in the coming weeks.
      
    %ul.hidden
      %li.ticket.clearfix
        %span.icon
        %span.time 8:00pm - 11:00pm
        %b Doors open
 
  / END preparty
  %section#conference
    %h2 Saturday April 16th, 2011 - BarCamp Charlotte
    %ul
      %li.coffee.clearfix
        %span.icon
        %span.time 8:00am
        %b Doors open - Coffee,  Pastries and Tea
        %span.details This is a chance to get into Area 15 and get a coffee and meet some of your fellow Barcampers. You can polish your pitch and prepare yourself for voting.
      %li.pitches.clearfix
        %span.icon
        %span.time 9:00am - 9:45
        %b Pitches &amp; Voting for Morning Sessions
        %span.details
      %li.sessions.clearfix
        %span.icon
        %span.time 10:00am - 10:45am
        %b First Sessions
        %span.details Those pitches that were voted through will get a session room and we’ll be assigning these and then updating everyone. This hour will be for the first sessions.
      %li.sessions.clearfix
        %span.icon
        %span.time 11:00am - 12:45pm
        %b Second Sessions
        %span.details After 15 mins to switch rooms this hour will be for the second session.
      %li.lunch.clearfix
        %span.icon
        %span.time 12:00pm - 1:30pm
        %b Lunch
        %span.details Cookout with sides provided by local food vendors and restaurants.
      %li.pitches.clearfix
        %span.icon
        %span.time 1:30pm - 2:00pm
        %b Pitches &amp; Voting for Afternoon Sessions
        %span.details We want to use the power of the people at Barcamp for good in Charlotte and beyond. To that end we want to give the floor to Charities looking to connect with people in the technology, social media and creative space. In this section of the day – you’ll hear from Charities and have a chance to get connected and help.
      %li.sessions.clearfix
        %span.icon
        %span.time 2:15pm - 3:00pm
        %b Third Sessions
        %span.details
      %li.sessions.clearfix
        %span.icon
        %span.time 3:15pm - 4:00pm
        %b Fourth Sessions
        %span.details
  / END conference
/ END #schedule
