---
nav: home
title: BarCamp Charlotte 5 - April 16th, 2011 at Area 15 | Gather, Share, Learn &amp; Discuss
---

%section#photos
  #row-one.photos
    %a.photo1{:href => "/assets/_v/images/barcamp-images/barcamp-charlotte-1.1.jpg"}
      %span.color
      %span.enlarge
    %a.photo2{:href => "/assets/_v/images/barcamp-images/barcamp-charlotte-1.2.jpg"}
      %span.color
      %span.enlarge
    %a.photo3{:href => "/assets/_v/images/barcamp-images/barcamp-charlotte-1.3.jpg"}
      %span.color
      %span.enlarge
    %a.photo4{:href => "/assets/_v/images/barcamp-images/barcamp-charlotte-1.4.jpg"}
      %span.color
      %span.enlarge
    %a.photo5{:href => "/assets/_v/images/barcamp-images/barcamp-charlotte-1.5.jpg"}
      %span.color
      %span.enlarge
  / END #row1
  #row-two.photos
    %a.photo1{:href => "/assets/_v/images/barcamp-images/barcamp-charlotte-2.1.jpg"}
      %span.color
      %span.enlarge
    %a.photo2{:href => "/assets/_v/images/barcamp-images/barcamp-charlotte-2.2.jpg"}
      %span.color
      %span.enlarge
    %a.photo3{:href => "/assets/_v/images/barcamp-images/barcamp-charlotte-2.3.jpg"}
      %span.color
      %span.enlarge
    %a.photo4{:href => "/assets/_v/images/barcamp-images/barcamp-charlotte-2.4.jpg"}
      %span.color
      %span.enlarge
    %a.photo5{:href => "/assets/_v/images/barcamp-images/barcamp-charlotte-2.5.jpg"}
      %span.color
      %span.enlarge
  / END #row2

  #register-cta
    %h1 Gather, Share, Learn <span class="amp"> &amp;</span> Discuss
    %p BarCamp is a free, unconference for networking, knowledge-building and fun. BarCamp V was held at Area 15 on April 16th, 2011.
    %a{:href => "#"}
      %span Registration Closed
  / END #register-cta
/ END #photos

%section#help.two-columns.clearfix
  #sponsor.column-one
    %h2 Sponsors
    %p BarCamp Charlotte brings out the best and brightest tech, startup, media, and marketing industries. Our sponsors help make it special and keeps it free for our the attendees.
    -# %a.button{:href => "/sponsor/", :title => "Help out BarCamp Charlotte as a Sponsor"}
    -#   %span.text Be A Sponsor
    -#   %span.corner
  / END #sponsors
  #volunteer.column-two
    %h2 Volunteers
    %p Our volunteer's are what make BarCamp Charlotte the best unconference ever. Get involved and help us create a great BarCamp and give back to our community.
    -# %a.button{:href => "/volunteer/", :title => "Help out BarCamp Charlotte as a Sponsor"}
    -#   %span.text Be A Volunteer
    -#   %span.corner
  / END #volunteers
/ END #help

%section#quotes.one-column.clearfix
  %blockquote
    %p
      "Unless someone like you cares a whole awful lot, nothing is going to get better.  It's not."
      %em - Dr. Seuss
/ END #quote

%section#twitter.three-columns.clearfix
  .inner
    %h2.large-ribbon
      %a{:href => "http://twitter.com/barcampclt", :rel => "external"} Follow Us On Twitter
    #barcampclt.column-one
      .tweets
      %a.hash{:href => "http://twitter.com/barcampclt", :rel => "external"} @barcampclt
    #barcampclt-hash.column-two
      .tweets
      %a.hash{:href => "http://twitter.com/#search?q=barcampclt", :rel => "external"} #barcampclt
    #barcamp-global.column-three
      .tweets
      %a.hash{:href => "http://twitter.com/#search?q=barcamp", :rel => "external"} #barcamp
  %span.top
  %span.bottom
/ END #twitter

%section#sponsors.four-columns.clearfix
  %h3 Title Sponsors
  %ul.clearfix
    %li
      %a{:href => "http://www.myjive.com/", :rel => "external", :title => "MyJive"}
        %img{:alt => "MyJive", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-myjive.png", :width => "210"}
    %li
      %a{:href => "http://www.wed3.org/", :rel => "external", :title => "WED 3 - The Angel Forum of Charlotte"}
        %img{:alt => "WED 3 - The Angel Forum of Charlotte", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-wed-3.png", :width => "210"}
  %h3 Platinum Sponsors
  %ul.clearfix
    %li
      %a{:href => "http://areafifteen.com/", :rel => "external", :title => "Area 15 - Charlotte's small business incubator"}
        %img{:alt => "Area 15", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-area-15.png", :width => "210"}
    %li
      %a{:href => "http://ally.com/", :rel => "external", :title => "Ally Bank"}
        %img{:alt => "Ally Bank", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-ally.png", :width => "210"}
    %li
      %a{:href => "http://redventures.com/", :rel => "external", :title => "Red Ventures"}
        %img{:alt => "Red Ventures", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-red-ventures.png", :width => "210"}
    %li
      %a{:href => "http://unmatchedstyle.com/", :rel => "external", :title => "Unmatched Style"}
        %img{:alt => "Unmatched Style", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-unmatchedstyle.png", :width => "210"}
    %li
      %a{:href => "http://muzak.com/", :rel => "external", :title => "Muzak"}
        %img{:alt => "Muzak", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-muzak.png", :width => "210"}
    %li
      %a{:href => "http://skookum.com/", :rel => "external", :title => "Skookum"}
        %img{:alt => "Skookum", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-skookum.png", :width => "210"}
    %li
      %a{:href => "http://www.plummergraphics.com//", :rel => "external", :title => "Imperial Printing"}
        %img{:alt => "Imperial Printing", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-imperial-printing.png", :width => "210"}
    %li
      %a{:href => "http://cloudcastlegroup.com/", :rel => "external", :title => "Cloud Castle"}
        %img{:alt => "Cloud Castle", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-cloud-castle.png", :width => "210"}
    %li
      %a{:href => "http://www.facebook.com/notjustcoffee", :rel => "external"}
        %img{:alt => "Not Just Coffee", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-not-just-coffee.png", :width => "210"}
  %h3 Gold Sponsors
  %ul.clearfix
    %li
      %a{:href => "http://www.matlensilver.com/", :rel => "external", :title => "Malten Silver"}
        %img{:alt => "Malten Silver", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-malten-silver.png", :width => "210"}
    %li
      %a{:href => "http://www.boxmanstudios.com/", :rel => "external", :title => "Boxman Studios"}
        %img{:alt => "Boxman Studios", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-boxman-studios.png", :width => "210"}
    %li
      %a{:href => "http://stickergiant.com", :rel => "external", :title => "Sticker Giant"}
        %img{:alt => "Sticker Giant", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-sticker-giant.png", :width => "210"}
    %li
      %a{:href => "http://www.bigcouncil.com/", :rel => "external", :title => "BIG Council"}
        %img{:alt => "BIG Council", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-big.png", :width => "210"}
    %li
      %a{:href => "http://www.hackerspacecharlotte.org/", :rel => "external", :title => "Hackerspace Charlotte"}
        %img{:alt => "Hackerspace Charlotte", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-hackerspace-charlotte.png", :width => "210"}
    %li
      %a{:href => "http://www.cpcc.edu/", :rel => "external", :title => "Central Piedmont Community College"}
        %img{:alt => "Central Piedmont Community College", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-cpcc.png", :width => "210"}
    %li
      %a{:href => "http://www.thegeekfest.com/", :rel => "external", :title => "The Geek Fest"}
        %img{:alt => "The Geek Fest", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-cppc-geek-fest.png", :width => "210"}
  %h3 Silver Sponsors
  %ul.clearfix
    %li
      %a{:href => "http://lightbulbcoworking.com/", :rel => "external", :title => "Lightbulb Coworking"}
        %img{:alt => "Lightbulb Coworking", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-lightbulb-coworking.png", :width => "210"}
    %li
      %a{:href => "http://charlotte.startupweekend.org/", :rel => "external", :title => "Startup Weekend - Charlotte"}
        %img{:alt => "Startup Weekend - Charlotte", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-charlotte-startup-weekend.png", :width => "210"}
    %li
      %a{:href => "http://www.ephricon.com/", :rel => "external", :title => "Ephricon"}
        %img{:alt => "Ephricon", :height => "97", :src => "/assets/_v/images/sponsors/sponsor-ephricon.png", :width => "210"}
  %h3 Media Sponsors
  %ul.clearfix
    %li
      %a{:href => "http://cltblog.com/", :rel => "external", :title => "Charlotte Blog"}
      %img{:alt => "Charlotte Blog", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-charlotte-blog.png", :width => "210"}
    %li
      %a{:href => "http://startcharlotte.com/", :rel => "external", :title => "Start Charlotte - Coworking, freelance support and startup development"}
        %img{:alt => "Start Charlotte", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-start-charlotte.png", :width => "210"}
/ END #sponsors
