%footer
    .inner
        %section#main-sponsors.xxx
            %a.col1{:href => "http://barcamptour.com/", :title => "BarCamp Tour - We Love BarCamps", :rel => "external"}
                %img{:src => "/assets/images/sponsors/barcamp-tour.png", :alt => "BarCamp Tour"}

            %a.col2{:href => "http://wufoo.com/", :title => "Wufoo - The Online Form Builder", :rel => "external"}
                %img{:src => "/assets/images/sponsors/barcamp-tour-wufoo.png", :alt => "Wufoo"}

            %a.col3{:href => "http://grasshopper.com", :title => "Grasshopper - Virtual Phone Systems", :rel => "external"}
                %img{:src => "/assets/images/sponsors/barcamp-tour-grasshopper.png", :alt => "Grasshopper"}


            %a.col1{:href => "http://batchbook.com/", :title => "Batchbook - Your Social CRM", :rel => "external"}
                %img{:src => "/assets/images/sponsors/barcamp-tour-batchbook.png", :alt => "BatchBook"}

            %a.col2{:href => "http://www.mailchimp.com", :title => "Mailchimp - Easy Email Newsletters", :rel => "external"}
                %img{:src => "/assets/images/sponsors/barcamp-tour-mailchimp.png", :alt => "Mailchimp"}

            %a.col3{:href => "http://skookum.com/", :title => "Skookum - Custom Business Software", :rel => "external"}
                %img{:src => "/assets/images/sponsors/skookum.png", :alt => "Skookum Digital Works"}


            %a.col1{:href => "http://redventures.com", :title => "RedVentures", :rel => "external"}
                %img{:src => "/assets/images/sponsors/red-ventures.png", :alt => "Redventures"}

            %a.col2{:href => "http://areafifteen.com", :title => "Area 15 - Charlotte business incubator", :rel => "external"}
                %img{:src => "/assets/images/sponsors/area15.png", :alt => "Area Fifteen"}



        %section#secondary-sponsors.xxxx.clearfix
            %a.col1{:href => "http://www.wed3.org/", :title => "Wed3 - The Angel Forum of Charlotte", :rel => "external"}
                %img{:src => "/assets/images/sponsors/wed3-angel-forum.png", :alt => "Wed3"}

            %a.col2{:href => "http://www.carbonhouse.com/", :title => "Carbonhouse", :rel => "external"}
                %img{:src => "/assets/images/sponsors/carbonhouse.png", :alt => "Carbonhouse"}

            %a.col3{:href => "http://www.southeastlinuxfest.org/", :title => "Southeast LinuxFest - June 8-10, 2012", :rel => "external"}
                %img{:src => "/assets/images/sponsors/southeast-linux-fest.png", :alt => "Southeast LinuxFest"}

            %a.col4{:href => "http://www.shomolive.org/", :title => "ShomoLive - Bringing Bands, Venues, and Fans Together", :rel => "external"}
                %img{:src => "/assets/images/sponsors/shomo-live.png", :alt => "ShoMoLive"}


            %a.col1{:href => "http://www.cpcc.edu/", :title => "Central Piedmont Community College", :rel => "external"}
                %img{:src => "/assets/images/sponsors/cpcc.png", :alt => "Central Piedmont Community College"}

            %a.col2{:href => "http://www.cpcc.edu/thegeekfest", :title => "The Geekfest", :rel => "external"}
                %img{:src => "/assets/images/sponsors/geekfest.png", :alt => "The Geekfest"}

            %a.col3{:href => "http://www.carolinaentertainmentnetwork.org/", :title => "Carolina Entertainment Network", :rel => "external"}
                %img{:src => "/assets/images/sponsors/stellar-city-entertainment.png", :alt => "Carolina Entertainment Network"}

            %a.col4{:href => "http://www.yelp.com/charlotte-nc", :title => "Yelp Charlotte", :rel => "external"}
                %img{:src => "/assets/images/sponsors/yelp.png", :alt => "Yelp Charlotte"}


            %a.col1{:href => "http://www.hackerspacecharlotte.org/", :title => "Hackerspace Charlotte", :rel => "external"}
                %img{:src => "/assets/images/sponsors/hackerspace-charlotte.png", :alt => "Hackerspace Charlotte"}

            %a.col2{:href => "http://www.charlottejs.org/", :title => "Charlotte Javascript Developers", :rel => "external"}
                %img{:src => "/assets/images/sponsors/charlotte-javascript.png", :alt => "Charlotte Javascript Developers"}

            %a.col3{:href => "http://www.meetup.com/charlotte-rb/", :title => "Charlotte Ruby Developers", :rel => "external"}
                %img{:src => "/assets/images/sponsors/charlotte-rubyists.png", :alt => "Charlotte Rubyists"}

            %a.col4{:href => "http://meetup.qcphp.org/", :title => "Queen City PHP", :rel => "external"}
                %img{:src => "/assets/images/sponsors/queen-city-php.png", :alt => "Queen City PHP"}


            %a.col1{:href => "http://www.charlotteux.org", :title => "Charlotte User Experience", :rel => "external"}
                %img{:src => "/assets/images/sponsors/charlotte-user-experience.png", :alt => "Charlotte User Experience"}

            %a.col2{:href => "http://www.charlottefed.com/", :title => "Charlotte Front-End Developers", :rel => "external"}
                %img{:src => "/assets/images/sponsors/charlotte-front-end-developers-meetup.png", :alt => "Charlotte Front-End Developers"}

            %a.col3{:href => "http://www.charlottegrok.com/", :title => "Charlotte Grok: Startup Edition", :rel => "external"}
                %img{:src => "/assets/images/sponsors/charlotte-grok.png", :alt => "Charlotte Grok: Startup Edition"}

            %a.col4{:href => "http://www.meetup.com/clthackers/", :title => "Charlotte Hackers & Founders", :rel => "external"}
                %img{:src => "/assets/images/sponsors/hackers-and-founders.png", :alt => "Charlotte Hackers & Founders"}


            %a.col1{:href => "http://www.meetup.com/python-django-charlotte/", :title => "Charlotte Python & Django", :rel => "external"}
                %img{:src => "/assets/images/sponsors/python-django.png", :alt => "Charlotte Python & Django"}

            %a.col2{:href => "http://www.meetup.com/charDUG/", :title => "Charlotte Drupal Users Group", :rel => "external"}
                %img{:src => "/assets/images/sponsors/charlotte-drupal.png", :alt => "Charlotte Drupal Users Group"}

        %small
            %p
            Website powered by <a href="http://nanoc.stoneship.org/" rel="external">nanoc</a>. Designed and developed by <a href="http://bermonpainter.com" rel="external">Bermon Painter</a> and <a href="http://startcharlotte.com/" rel="external">Start Charlotte</a>.
