%header{:role => "banner"}
    .inner
        - if @item.path == '/'
            %h1#logo 
                %img{:src => '/assets/images/barcamp-charlotte.png', :alt => "BarCamp Charlotte"}

            %section#intro
                %p
                    BarCamp is Charlotte’s one and only tech un-conference, an event where professionals from all industries come and pitch to talk about a topic they love, and people vote on what they would like to learn about.
                    %a{:href => "http://barcampcharlotte7.eventbrite.com/", :rel => "external", :style => "display: none"} Register <span>for free</span>
        - else
            %a{:href => '/', :id => "logo"}
                %img{:src => '/assets/images/barcamp-charlotte.png', :alt => "BarCamp Charlotte"}
