%nav.clearfix
  %ul
    %li.home{ :class => ("active" if @item.path == '/') }
      %a{:href => "/"}
        %span 
        Home
    %li.venue{ :class => ("active" if @item.path == '/venue/') }
      %a{:href => "/venue/"}
        %span 
        Venue
    %li.schedule{ :class => ("active" if @item.path == '/schedule/') }
      %a{:href => "/schedule/"}
        %span 
        Schedule
    %li.sponsor{ :class => ("active" if @item.path == '/sponsor/') }
      %a{:href => "/sponsor/"}
        %span 
        Sponsor
    %li.volunteer{ :class => ("active" if @item.path == '/volunteer/') }
      %a{:href => "/volunteer/"}
        %span 
        Volunteer
    %li.register
      %a{:href => "http://anyvite.com/3yhrt4ykj4"}
        %span
        Register
