%nav.clearfix
  %ul
    %li.home
      %a{:href => "/"}
        %span 
        Home
    %li.venue
      %a{:href => "/venue/"}
        %span 
        Venue
    %li.schedule
      %a{:href => "http://barcampcharlotte.heroku.com/"}
        %span 
        Schedule
    %li.sponsor
      %a{:href => "/sponsor/"}
        %span 
        Sponsor
    %li.volunteer
      %a{:href => "/volunteer/"}
        %span 
        Volunteer
    %li.register.hidden
      %a{:href => "http://anyvite.com/events/home/noui3c9ym5"}
        %span
        Register
