<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>BarCamp Charlotte 4 - Oct 9th, 2010 | Gather, Share, Learn &amp; Discuss</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"><!--  Mobile Viewport Fix j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag -->

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="/css/style.css?v=1">
    <link rel="stylesheet" media="handheld" href="/css/handheld.css?v=1"><!-- For the less-enabled mobile browsers like Opera Mini -->
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script><!-- jQuery linked from Google = faster & possibly already in users cache -->
    <script src="/js/plugins.js"></script>
    <script src="/js/modernizr-1.5.min.js"></script><!-- Modernizr enables HTML5 elements & feature detects -->
    <script src="/js/script.js"></script>
</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie7"> <![endif]-->
<!--[if IE 8 ]> <body class="ie8"> <![endif]-->
<!--[if IE 9 ]> <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

    <div id="container">

        <%= render 'header' %>

        <%= yield %> 
        
        <%= render 'footer' %>

    </div><!-- END #container -->

    <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?v=1"></script>
    <![endif]-->

    <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
       change the UA-XXXXX-X to be your site's ID -->
    <script>
    var _gaq = [['_setAccount', 'UA-205191-12'], ['_trackPageview']];
    (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
    })(document, 'script');
    </script>
</body>
</html>
