%nav.clearfix
  %ul
    %li.home
      %a{:href => "/iv/"}
        %span 
        Home
    %li.venue
      %a{:href => "/iv/venue/"}
        %span 
        Venue
    %li.schedule
      %a{:href => "/iv/schedule/"}
        %span 
        Schedule
    %li.sponsor
      %a{:href => "/iv/sponsor/"}
        %span 
        Sponsor
    %li.volunteer
      %a{:href => "/iv/volunteer/"}
        %span 
        Volunteer
    %li.register.hidden
      %a{:href => "http://anyvite.com/events/home/noui3c9ym5"}
        %span
        Register
