%footer.clearfix
  .inner
    %p BarCamp Charlotte content is licensed under a Creative Commons Attribution 3.0 License except where otherwise noted.
    <p>Website powered by <a href="http://nanoc.stoneship.org/" rel="external">nanoc</a>. Designed and developed by <a href="http://bermonpainter.com" rel="external">Bermon Painter</a> and <a href="http://startcharlotte.com/" rel="external">Start Charlotte</a>.</p>
    %a.logo.hidden{:href => "http://barcampcharlotte.org"} BarCamp Charlotte