--- 
title:  Schedule
bodyID: schedule
bodyClasses: herobanner
---
-# Add some javascript to highlight what's current on the schedule
.banner
    %img{:src => "http://placehold.it/1024x576", :alt => ""}
    
%h1 Schedule

%p BarCamp Charlotte is a community driven event and the topics presented are the topics you vote on. It's pretty democratic.

%section#friday
    %h2 Friday, October 21st
    .time 6:30pm - 9:00pm
    .icon
    %b Venue Prep
    %p.description Our volunteers will come together and get Area 15 prepped for all the goodness of BarCamp. If you'd like to volunteer <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dEVMb2l1cjMwc3o0T2F3djZraEFhd2c6MQ#gid=0" rel="external">let us know</a> or you can just show up. We won't mind.

%section#saturday
    %h2 Saturday, October 22nd

    %ul
        %li.coffee
            .time 9:00am - 9:15am
            .icon
            %b Coffee & Varied Breakfast Goodies
            .details Get here a bit early, meet your fellow BarCampers and grab a bite to eat before the pitches start. If you're planning on pitching, take a few minutes to fine-tune what you'll say. You only have 30 seconds to pitch.
        %li.pitch
            .time 9:15am - 9:45am
            .icon
            %b Morning Pitches &amp Voting for Sessions
            .details Here at BarCamp Charlotte we keep things pretty democratic. You decide what each session is about. Those that want to pitch a topic, an idea or a conversation have <b>30 seconds</b> to pitch to the crowd and convince your fellow BarCampers that your session will melt their faces off. Once all the pitches have been made the BarCampers will vote and the top pitches will be assigned sessions.
        %li.session
            .time 10:30am - 11:15am
            .icon
            %b 1<sup>st</sup> Sessions
            .details 
            -# Once barcamp starts fill in the sessions with the individual topics & who's speaking.
            %ul.xxx
                %li.col1
                    .avatar
                    %b Why things explode & 3D Priting
                    .room Macquarium Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col2
                    .avatar
                    %b Kids Learning tools
                    .room Ettain Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col3
                    .avatar
                    %b Startup Weekend
                    .room Ally Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col1
                    .avatar
                    %b DIY Portrait Studio
                    .room Skookum Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
        %li.session
            .time 11:30am - 12:15pm
            .icon
            %b 2<sup>nd</sup> Sessions
            .details 
            -# Once barcamp starts fill in the sessions with the individual topics & who's speaking.
            %ul.xxx
                %li.col1
                    .avatar
                    %b Networking your way to the top in Charlotte
                    .room Macquarium Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col2
                    .avatar
                    %b Speakup Magazine - How you get involved
                    .room Ettain Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col3
                    .avatar
                    %b BarCamp Flashmob
                    .room Ally Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col1
                    .avatar
                    %b Project Management for Freelancers
                    .room Skookum Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
        %li.lunch
            .time 12:30pm - 1:30pm
            .icon
            %b Lunch
            .details After a full morning of fill our brains will great conversations it's time to fill our tummies with some tasty food.
        %li.pitch
            .time 1:30pm - 2:00pm
            .icon
            %b Afternoon Pitches &amp Voting for Sessions
            .details It it's your first time at BarCamp Charlotte then you should probably have a pretty good idea how the whole pitching &amp; voting thing works. After lunch we'll do a second round of pitches. If you weren't quite feeling it in the morning or your pitch didn't get the votes then go ahead a pitch for one of the afternoon sessions.
        %li.session
            .time 2:15pm - 3:00pm
            .icon
            %b 3<sup>rd</sup> Sessions
            .details 
            -# Once barcamp starts fill in the sessions with the individual topics & who's speaking.
            %ul.xxx
                %li.col1
                    .avatar
                    %b Occupy Charlotte
                    .room Macquarium
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col2
                    .avatar
                    %b TechCLT
                    .room Ettain Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col3
                    .avatar
                    %b How & Why to Give an Ignite Talk
                    .room Skookum Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col1
                    .avatar
                    %b 25 Takeaways From Life on the Road
                    .room Ally Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
        %li.session
            .time 3:15pm - 4:00pm
            .icon
            %b 4<sup>th</sup> Sessions
            .details 
            -# Once barcamp starts fill in the sessions with the individual topics & who's speaking.
            %ul.xxx
                %li.col1
                    .avatar
                    %b How to Make Tech Education Suck Less
                    .room Macquarium Room
                    .speaker 
                        Bermon Painter
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col2
                    .avatar
                    %b iMac in Romania and the Meaning of Life
                    .room Ettain Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col3
                    .avatar
                    %b Give your Kids Skills and have them Keep the Hands, or Possibly Kill Them
                    .room Skookum
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
                %li.col1
                    .avatar
                    %b Why You Should Build Your Website with Drupal
                    .room Ally Room
                    .speaker 
                        Speaker Name
                        %a{:href => "http://twitter.com/", :rel => "external"} @speaker
                    .details Pitch Details
        %li.fin
            .time 4:00pm - 4:15pm
            .icon
            %b This is the End
            .details We'll get together one last time in the main room and say adios until April 2012.
             