/* ----------------------------------------------------
=992px
---------------------------------------------------- */
@media only screen and (min-width: 992px) {
	header .inner,
	footer .inner{
		max-width: 1024px;
	}
	header{
		#logo{
			float: left;
		}
	}
	article {
		max-width: 1024px;
	}
	#main-nav{
		position: absolute;
			right: 5%;
			top: 55px;
		width: 100%;
		ul{
			margin: 0;
			text-align: right;
		}
		li{
			width: 10%;
			&:last-child a{
				padding-right: 0;
			}
		}
		a{
			padding: 0 23%;
		}
	}

	.herobanner{
		header{
			min-height: 150px;
		}
	}

	#homepage{
		header {
			min-height: 150px;
			#logo{
				margin-bottom: 30px;
			}
		}
		#intro{
			font-size: 1.8em;
		}
		#main-nav{
			position: absolute;
				right: 5%;
				top: 55px;
			width: 100%;
			ul{
				margin: 0;
				text-align: right;
			}
			li{
				width: 10%;
				&:last-child a{
					padding-right: 0;
				}
			}
			a{
				padding: 0 23%;
			}
		}
	}
}