---
nav: home
title: BarCamp Charlotte 4 - Oct 9th, 2010 at Area 15 | Gather, Share, Learn &amp; Discuss
---

%section#photos
  #row-one.photos
    %a.photo1{:href => "/assets/_iv/images/barcamp-images/barcamp-charlotte-1.1.jpg"}
      %span.color
      %span.enlarge
    %a.photo2{:href => "/assets/_iv/images/barcamp-images/barcamp-charlotte-1.2.jpg"}
      %span.color
      %span.enlarge
    %a.photo3{:href => "/assets/_iv/images/barcamp-images/barcamp-charlotte-1.3.jpg"}
      %span.color
      %span.enlarge
    %a.photo4{:href => "/assets/_iv/images/barcamp-images/barcamp-charlotte-1.4.jpg"}
      %span.color
      %span.enlarge
    %a.photo5{:href => "/assets/_iv/images/barcamp-images/barcamp-charlotte-1.5.jpg"}
      %span.color
      %span.enlarge
  / END #row1
  #row-two.photos
    %a.photo1{:href => "/assets/_iv/images/barcamp-images/barcamp-charlotte-2.1.jpg"}
      %span.color
      %span.enlarge
    %a.photo2{:href => "/assets/_iv/images/barcamp-images/barcamp-charlotte-2.2.jpg"}
      %span.color
      %span.enlarge
    %a.photo3{:href => "/assets/_iv/images/barcamp-images/barcamp-charlotte-2.3.jpg"}
      %span.color
      %span.enlarge
    %a.photo4{:href => "/assets/_iv/images/barcamp-images/barcamp-charlotte-2.4.jpg"}
      %span.color
      %span.enlarge
    %a.photo5{:href => "/assets/_iv/images/barcamp-images/barcamp-charlotte-2.5.jpg"}
      %span.color
      %span.enlarge
  / END #row2

  #register-cta
    %h1 Gather, Share, Learn <span class="amp"> &amp;</span> Discuss
    %p BarCamp is a free, unconference for networking, knowledge-building and fun. Come join us at Area 15 on Oct. 9th, 2010.
    %a{:href => "http://anyvite.com/events/home/noui3c9ym5"}
      %span Join <span class="amp">&amp;</span> Register Online
  / END #register-cta
/ END #photos

%section#help.two-columns.clearfix
  #sponsor.column-one
    %h2 Sponsors
    %p BarCamp Charlotte brings out the best and brightest tech, startup, media, and marketing industries. Our sponsors help make it special and keeps it free for our the attendees.
    %a.button{:href => "/sponsor/", :title => "Help out BarCamp Charlotte as a Sponsor"}
      %span.text Be A Sponsor
      %span.corner
  / END #sponsors
  #volunteer.column-two
    %h2 Volunteers
    %p Our volunteer's are what make BarCamp Charlotte the best unconference ever. Get involved and help us create a great BarCamp and give back to our community.
    %a.button{:href => "/volunteer/", :title => "Help out BarCamp Charlotte as a Sponsor"}
      %span.text Be A Volunteer
      %span.corner
  / END #volunteers
/ END #help

%section#quotes.one-column.clearfix
  %blockquote
    %p
      "Unless someone like you cares a whole awful lot, nothing is going to get better.  It's not."
      %em - Dr. Seuss
/ END #quote

%section#twitter.three-columns.clearfix
  .inner
    %h2.large-ribbon
      %a{:href => "http://twitter.com/barcampclt", :rel => "external"} Follow Us On Twitter
    #barcampclt.column-one
      .tweets
      %a.hash{:href => "http://twitter.com/barcampclt", :rel => "external"} @barcampclt
    #barcampclt-hash.column-two
      .tweets
      %a.hash{:href => "http://twitter.com/#search?q=barcampclt", :rel => "external"} #barcampclt
    #barcamp-global.column-three
      .tweets
      %a.hash{:href => "http://twitter.com/#search?q=barcamp", :rel => "external"} #barcamp
  %span.top
  %span.bottom
/ END #twitter

%section#sponsors.four-columns.clearfix
  %h3.hidden Title Sponsor
  %ul.hidden.clearfix
    %li
      %a{:href => "#", :rel => "external", :title => "WED3 - The Angel Forum of Charlotte"}
        %img{:alt => "WED3", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-area-15.png", :width => "210"}
  %h3 Title Sponsor
  %ul.clearfix
    %li
      %a{:href => "http://www.wed3.org/", :rel => "external", :title => "WED 3 - The Angel Forum of Charlotte"}
        %img{:alt => "WED 3 - The Angel Forum of Charlotte", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-wed-3.png", :width => "210"}
  %h3 Platinum Sponsors
  %ul.clearfix
    %li
      %a{:href => "http://areafifteen.com/", :rel => "external", :title => "Area 15 - Charlotte's small business incubator"}
        %img{:alt => "Area 15", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-area-15.png", :width => "210"}
    %li
      %a{:href => "http://inkfloyd.com/", :rel => "external", :title => "Ink Floyd"}
        %img{:alt => "Ink Floyd", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-ink-floyd.png", :width => "210"}
  %h3 Gold Sponsors
  %ul.clearfix
    %li
      %a{:href => "http://www.facebook.com/notjustcoffee", :rel => "external"}
        %img{:alt => "Not Just Coffee", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-not-just-coffee.png", :width => "210"}
    %li
      %a{:href => "http://felicitea.com", :rel => "external", :title => "Felicitea - A Taste of Happiness"}
        %img{:alt => "Felicitea", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-felicitea.png", :width => "210"}
    %li
      %a{:href => "http://www.ignitecharlotte.org/", :rel => "external", :title => "Ignite Charlotte"}
        %img{:alt => "Ignite Charlotte", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-ignite-charlotte.png", :width => "210"}
    %li
      %a{:href => "http://www.CarolinaNightlife.com/", :rel => "external", :title => "Carolina Nightlife"}
        %img{:alt => "Carolina Nightlife", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-carolina-nightlife.png", :width => "210"}
    %li
      %a{:href => "http://skookum.com/", :rel => "external", :title => "Skookum"}
        %img{:alt => "Skookum", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-skookum.png", :width => "210"}
  %h3 Silver Sponsors
  %ul.clearfix
    %li
      %a{:href => "http://www.actorscrib.com/", :rel => "external", :title => "Actors Crib, Inc"}
        %img{:alt => "Actors Crib", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-actors-crib.png", :width => "210"}
    %li
      %a{:href => "http://www.carbonhouse.com/", :rel => "external", :title => "Carbonhouse"}
        %img{:alt => "Carbonhouse", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-carbonhouse.png", :width => "210"}
    %li
      %a{:href => "http://firsthandcreative.com/", :rel => "external", :title => "Firsthand Creative"}
        %img{:alt => "Firsthand Creative", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-firsthand-creative.png", :width => "210"}
    %li
      %a{:href => "http://www.ladyjaynesbakery.com/", :rel => "external", :title => "Lady Jane's Bakery"}
        %img{:alt => "Lady Janes Bakery", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-lady-janes-bakery.png", :width => "210"}
    %li
      %a{:href => "http://www.techmeback.com/", :rel => "external", :title => "Tech Me Back"}
        %img{:alt => "Tech Me Back", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-tech-me-back.png", :width => "210"}
    %li
      %a{:href => "http://www.stickermule.com/", :rel => "external", :title => "Sticker Mule"}
        %img{:alt => "Sticker Mule", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-sticker-mule.png", :width => "210"}
    %li
      %a{:href => "http://www.cpcc.edu/", :rel => "external", :title => "Central Piedmont Community College"}
        %img{:alt => "Central Piedmont Community College", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-cpcc.png", :width => "210"}
    %li
      %a{:href => "http://www.thegeekfest.com/", :rel => "external", :title => "The Geek Fest"}
        %img{:alt => "The Geek Fest", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-cppc-geek-fest.png", :width => "210"}
    %li
      %a{:href => "http://www.oldemeckbrew.com/", :rel => "external", :title => "Olde Mecklenburg Brewery"}
        %img{:alt => "Olde Mecklenburg Brewery", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-old-mecklenburg-brewery.png", :width => "210"}
    %li
      %a{:href => "http://www.smartcore.com/", :rel => "external", :title => "Smartcore"}
        %img{:alt => "Smartcore", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-smartcore.png", :width => "210"}
    %li
      %a{:href => "http://www.counterculturecoffee.com/", :rel => "external", :title => "Counter Culture Coffee"}
        %img{:alt => "Counter Culture Coffee", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-counter-culture.png", :width => "210"}
    %li
      %a{:href => "http://www.revolutionpizza.com/", :rel => "external", :title => "Revolution Pizza"}
        %img{:alt => "Revolution Pizza", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-revolution-pizza.png", :width => "210"}
    %li
      %a{:href => "http://www.ballantynedentistry.com/", :rel => "external", :title => "Ballentyne Center For Dentistry"}
        %img{:alt => "Ballentyne Center For Dentistry", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-ballentyne-dentistry.png", :width => "210"}
  %h3 Media Sponsors
  %ul.clearfix
    %li
      <a href="http://cltblog.com/" title-"Charlotte Blog" rel="external">
      %img{:alt => "Charlotte Blog", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-charlotte-blog.png", :width => "210"}
    %li
      %a{:href => "http://www.thecharlotteagency.com/", :rel => "external", :title => "The Charlotte Agency"}
        %img{:alt => "JDW Marketing", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-jdw-marketing.png", :width => "210"}
    %li
      %a{:href => "http://startcharlotte.com/", :rel => "external", :title => "Start Charlotte - Coworking, freelance support and startup development"}
        %img{:alt => "Start Charlotte", :height => "97", :src => "/assets/_iv/images/sponsors/sponsor-start-charlotte.png", :width => "210"}
/ END #sponsors
